/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.tableData{
  padding: 2rem;
}
.heading{
  margin: 2rem 0;
  background-image: linear-gradient(to right,red,#000);
  -webkit-background-clip: text;
  color: transparent;
  background-clip:text;
  text-align: center;
}
:where(.css-dev-only-do-not-override-m4timi).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-m4timi).ant-table-wrapper .ant-table-thead >tr>td {
  text-align: center;
}
:where(.css-dev-only-do-not-override-m4timi).ant-table-wrapper .ant-table-tbody >tr >td {
  text-align: center;
}

.charts-container {
  max-width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart {
  width: 100%;
  margin-bottom: 2rem;
}
.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.cards-container{
  width: 30rem;
  padding: 2rem;
  box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
  25px 0px 20px -20px rgba(0,0,0,0.45),
  0px 25px 20px -20px rgba(0,0,0,0.45),
  -25px 0px 20px -20px rgba(0,0,0,0.45);
  border-radius: 20px;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.cards p:first-child{
  color: gray;
}
.filters-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.input-container{
  width: 10rem;
}
.select-container{
  display: flex;
  flex-direction: column;
}
/* .table-container {
  overflow-x: hidden;
} */
